$blue: #1e3799 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #16a085 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$primary: $blue !default;
$alternativePrimary: #0f2540 !default;
$secondary: #3c6382 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
//$light:         $gray-100 !default;
$dark: #2d3436 !default;
$awn-success-color: $green;
$awn-info-color: $blue;
$awn-alert-color: $red;
$awn-warning-color: $orange;

$topbar-height: 50px;
$sidebar-width: 238px;
$border-color: rgba(0, 0, 0, 0.08);
