@import "variables";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  background-color: $sidebar-color;
}

.app-name {
  background-color: #212330;
  color: white;
  padding: 10px 12px;
  font-weight: 900;
  text-align: center;
  width: 100%;

  .tmdb {
    .icon {
      color: #e91e63;
      display: inline-block;
      padding-left: 5px;
      padding-right: 4px;
    }

    .text {
      color: #ffeb3b !important;
    }
  }
}

.items-container {
  margin: 10px 0;
}

.items {
  .section {
    margin: 0 15px;
    color: #6c6d80;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
  }

  .list {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 5px;
    max-height: 399px;

    .empty-collections {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
      margin: 15px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      color: lighten(#212330, 15%);
      background-color: #212330;
      font-size: 43px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;


      .empty {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .empty-text {
        font-size: 14px;
      }
    }

    li {
      .item {
        display: inline-block;
        color: #8a8b9d !important;
        font-size: 15px !important;
        text-decoration: none !important;
        padding: 7px 10px;
        width: 100%;
        font-weight: normal;

        .icon {
          padding-right: 5px;
          display: inline-block;
          width: 25px;
        }

        &.active {
          background-color: #38394e;
          font-weight: 600;
          color: white !important;
        }
      }
    }
  }
}
